#facebook-buttom {
  background-color: navy;
}

#instagram-buttom {
  color: #fff;
  background-color: rgb(123,13,92);
}

#github-buttom {
  background-color: black;
}

#linkedin-buttom {
  background-color: #0077B5;
}

p {
  text-align: center;
  font-size: 1rem;
}

.col-md-6.col-lg-4.item.zoom-on-hover {
  margin: 30px;
}

.row.no-gutters {
  margin: 100px;
  margin-bottom: 100px;
}

.row.no-gutters {
  float: left;
}

#background-info {
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 100px;
  border-bottom: 30px;
}

#photo {
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

#elonmusk {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 100px;
  margin-bottom: 30px;
  transition: .5s ease;
}

.container {
  padding: 0px;
  margin-bottom: auto;
}

#inspirational-people {
  margin-bottom: 100px;
}

#div-contact:hover {
  background-color: rgb(240,241,235);
}

#about-section p {
  max-width: 800px;
}

#in-jumbotron {
  text-align: center;
  background-size: cover;
}

@media (min-width: 1200px) {
  #in-jumbotron {
    padding: 20px;
  }
}

#in-jumbotron .jumbotron {
  border-radius: 20px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  #in-jumbotron .jumbotron {
    padding: 20px;
  }
}

.team-clean {
  margin-top: 200px;
}

#contact-container {
  max-width: 800px;
}

head title {
  display: none;
  visibility: hidden;
}

