#facebook-buttom {
  background-color: navy;
}

#instagram-buttom {
  color: #fff;
  background-color: rgb(123,13,92);
}

#github-buttom {
  background-color: black;
}

#linkedin-buttom {
  background-color: #0077B5;
}

p {
  text-align: center;
  font-size: 1rem;
}

.col-md-6.col-lg-4.item.zoom-on-hover {
  margin: 30px;
}

.row.no-gutters {
  margin: 100px;
  margin-bottom: 100px;
}

.row.no-gutters {
  float: left;
}

#skill-section {
}

#background-info {
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 100px;
  border-bottom: 30px;
}

#photo {
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

#elonmusk {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 100px;
  margin-bottom: 30px;
  transition: .5s ease;
}

.container {
  margin-bottom: auto;
}

#inspirational-people {
  margin-bottom: 100px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

#elonmusk:hover {
}

#div-contact:hover {
  background-color: rgb(240,241,235);
}

