#facebook-buttom {
  background-color: navy;
}

#instagram-buttom {
  color: #fff;
  background-color: rgb(123,13,92);
}

#github-buttom {
  background-color: black;
}

#linkedin-buttom {
  background-color: #0077B5;
}

p {
  text-align: center;
  font-size: 1rem;
}

